<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Home</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/estilos.css">
</head>
<body>

	<header>
		<nav class="navbar navbar-inverse" role="navigation" id="header-top">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Title</a>
		</div>
	
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">PERSONAS</a></li>
				<li><a href="#">BIBLIOTECA</a></li>
				<li><a href="#">EVENTOS</a></li>
				<li><a href="#">ASESORIAS</a></li>
				<li><a href="#">HORARIO</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">INICIAR SESSION</a></li> 
			</ul>
		</div><!-- /.navbar-collapse -->
	</nav>
	</header>
	<div class="jumbotron">
		<div class="container">
			<h1>Hello, world!</h1>
			<p>Contents ...</p>
		</div>
	</div>
	<section class="main container">
		<div class="row">
			<section class="posts col-md-9">
				<div class="migasPan">
					<ol class="breadcrumb">
						<li><a href="">Inicio</a></li>
						<li><a href="">Inicio</a></li>
						<li class="active">Inicio</li>
					</ol>
				</div>
				<article class="post clearfix">
					<a href="" class="thumb pull-left">
						<img class="img-thumbnail" src="images/img1.jpg" >
					</a>
					<h2 class="post-title">
						<a href="">Titulos</a>
					</h2>
					<p><span class="post fecha">26/02/2015 </span>por <span class="post-autor"><a href="">Eric ramses</a></span></p>
					<p class="post-contenido text-justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus praesentium distinctio maxime molestias, quasi provident debitis quo deleniti facilis qui quis recusandae iure, placeat vitae ducimus sit. Consequatur, perspiciatis libero!
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus praesentium distinctio maxime molestias, quasi provident debitis quo deleniti facilis qui quis recusandae iure, placeat vitae ducimus sit. Consequatur, perspiciatis libero!
					</p>
					<div class="contenedor-botones"><a href="" class="btn btn-primary">Leer Mas</a></div>
				</article>
				<article class="post clearfix">
					<a href="" class="thumb pull-left">
						<img class="img-thumbnail" src="images/img2.jpg">
					</a>
					<h2 class="post-title">
						<a href="">Titulos</a>
					</h2>
					<p><span class="post fecha">26/02/2015 </span>por <span class="post-autor"><a href="">Eric ramses</a></span></p>
					<p class="post-contenido text-justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus praesentium distinctio maxime molestias, quasi provident debitis quo deleniti facilis qui quis recusandae iure, placeat vitae ducimus sit. Consequatur, perspiciatis libero!
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus praesentium distinctio maxime molestias, quasi provident debitis quo deleniti facilis qui quis recusandae iure, placeat vitae ducimus sit. Consequatur, perspiciatis libero!
					</p>
					<div class="contenedor-botones"><a href="" class="btn btn-primary">Leer Mas</a></div>
				</article>
				<article class="post clearfix">
					<a href="" class="thumb pull-left">
						<img class="img-thumbnail" src="images/img3.jpg" >
					</a>
					<h2 class="post-title">
						<a href="">Titulos</a>
					</h2>
					<p><span class="post fecha">26/02/2015 </span>por <span class="post-autor"><a href="">Eric ramses</a></span></p>
					<p class="post-contenido text-justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus praesentium distinctio maxime molestias, quasi provident debitis quo deleniti facilis qui quis recusandae iure, placeat vitae ducimus sit. Consequatur, perspiciatis libero!
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus praesentium distinctio maxime molestias, quasi provident debitis quo deleniti facilis qui quis recusandae iure, placeat vitae ducimus sit. Consequatur, perspiciatis libero!
					</p>
					<div class="contenedor-botones"><a href="" class="btn btn-primary">Leer Mas</a></div>
				</article>
				<nav>
					<div class="center-block">
						<ul class="pagination">
							<li class="disabled"><a href="">&laquo;<span class="sr-only">Anterior</span></a></li>
							<li class="active"><a href="">1</a></li>
							<li><a href="">2</a></li>
							<li><a href="">3</a></li>
							<li><a href="">4</a></li>
							<li><a href="">5</a></li>
							<li><a href="">&raquo;<span class="sr-only">siguiente</span></a></li>
						</ul>
					</div>
				</nav>
			</section>
			<aside class="col-md-3 hidden-xs hidden-sm">
		<h4>cate</h4>
		<div class="list-group">
			<a href="#" class="list-group-item active">prueba</a>
			<a href="#" class="list-group-item">prueba</a>
			<a href="#" class="list-group-item">prueba</a>
			<a href="#" class="list-group-item">prueba</a>
			<a href="#" class="list-group-item">prueba</a>
		</div>
		<h4>recientes</h4>
		<a href="#" class="list-group-item">
			<h4 class="list-group-item-heading">titulo del articulo</h4>
			<p class="list-group-item-text">texto del articulo</p>
		</a>
		<a href="#" class="list-group-item">
			<h4 class="list-group-item-heading">titulo del articulo</h4>
			<p class="list-group-item-text">texto del articulo</p>
		</a>
		<a href="#" class="list-group-item">
			<h4 class="list-group-item-heading">titulo del articulo</h4>
			<p class="list-group-item-text">texto del articulo</p>
		</a>
	</aside>
		</div>
	</section>
		<footer>
			<div class="container">
			<div class="row">
				<div class="col-xs-6">
					Derechos Reservados FonFon Group
				</div>
			</div>
		</div>
		</footer>
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>